body{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-text {
  text-align: center;
  padding: 20px;
}
#head1{
  opacity: 0;
  animation: fadeIn 8s forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
#para1{
  opacity: 0;
  font-size: large;
  font-weight: 100;
  animation: fadeIn 10s forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.image{
  height: 200px;
  width: 200px;
  background-image: url(../src/assets/image.png);
  background-size: cover;
  border-radius: 50%;
  margin-left: auto;
}