#navbar{
  gap: 20px;
  margin-left: auto;
}
#nav-list{
 list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
li{
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  color: #333;
}
