body{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
}
#ball{
  width:60px;
  height:60px;
  border-radius:50%;
  background: red;
  margin-top: 100px;
  margin-left: 10px;
  opacity: 0;
  animation:move 4s ease-in-out forwards;
}
@keyframes move{
  0%{
    transform: translate(0px, 0px);
    opacity: 0;
  }
  20%{
    transform: translate(10px, -50px);
    opacity: 1;
  }
  40%{
    transform: translate(20px, 0px);
    opacity: 1;
  }
  60%{
    transform: translate(30px, -50px);  
    opacity: 1;
}
  80%{
    transform: translate(40px, 0px);
    opacity: 1;
  }
  100%{
    transform: translate(50px, -50px);
    opacity: 0;
    scale: 1;
  }
}